div.banner {
	background-color: green;
	padding: 50px;
}

div.main {
	margin-left: 200px;
	padding-left: 10px;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: silver;
	width: 200px;
	height: 100%;
	position: fixed;
}

li a {
	display: block;
	height: 40px;
	color: white;
}

li a:hover {
	color: green;
	background-color: palegreen;
}



h1 {
	color: black;
}